<!-- Modern Signature Template -->
<div class="signature signature-modern">
    <table class="signature-table">
        <tr>
            <td class="header-cell">
                <table class="header-table">
                    <tr>
                        <td class="profile-cell">
                            <img src="assets/logo-image.png" alt="Email Signature Generator" class="profile-img profile-image">
                        </td>
                        <td class="info-cell">
                            <table class="info-table">
                                <tr>
                                    <td class="name-cell">
                                        <div class="name">Email Signature Generator</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title-cell">
                                        <div class="title">Success Manager at GBTI Network</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="divider-cell">
                <div class="divider"></div>
            </td>
        </tr>
        <tr>
            <td class="contact-cell">
                <table class="contact-table">
                    <tr>
                        <td class="contact-item-cell">
                            <table class="contact-item-table">
                                <tr>
                                    <td class="icon-cell">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="email-icon">
                                            <path d="M0 3v18h24v-18h-24zm21.518 2l-9.518 7.713-9.518-7.713h19.036zm-19.518 14v-11.817l10 8.104 10-8.104v11.817h-20z"/>
                                        </svg>
                                    </td>
                                    <td class="contact-text-cell">
                                        <span class="email">opportunities@gbti.network</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="contact-item-cell calendly">
                            <table class="contact-item-table">
                                <tr>
                                    <td class="icon-cell">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="calendar-icon">
                                            <path d="M17 3v-2c0-.552.447-1 1-1s1 .448 1 1v2c0 .552-.447 1-1 1s-1-.448-1-1zm-12 1c.553 0 1-.448 1-1v-2c0-.552-.447-1-1-1-.553 0-1 .448-1 1v2c0 .552.447 1 1 1zm13 13v-3h-1v4h3v-1h-2zm-5 .5c0 2.481 2.019 4.5 4.5 4.5s4.5-2.019 4.5-4.5-2.019-4.5-4.5-4.5-4.5 2.019-4.5 4.5zm11 0c0 3.59-2.91 6.5-6.5 6.5s-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5zm-14.237 3.5h-7.763v-13h19v1.763c.727.33 1.399.757 2 1.268v-9.031h-3v1c0 1.316-1.278 2.339-2.658 1.894-.831-.268-1.342-1.111-1.342-1.984v-.91h-9v1c0 1.316-1.278 2.339-2.658 1.894-.831-.268-1.342-1.111-1.342-1.984v-.91h-3v21h11.031c-.511-.601-.938-1.273-1.268-2z"/>
                                        </svg>
                                    </td>
                                    <td class="contact-text-cell">
                                        <a href="https://calendly.com/gbti_network/15min" target="_blank" class="calendly-link calendly-text">Schedule a 15min call</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="divider-cell">
                <div class="divider"></div>
            </td>
        </tr>
        <tr>
            <td class="company-cell">
                <table class="company-table">
                    <tr>
                        <td class="company-logo-cell">
                            <img src="assets/logo-image.png" alt="GBTI Network Logo" class="company-logo">
                        </td>
                        <td class="company-name-cell">
                            <span class="company-name">GBTI Network</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="social-cell">
                <div class="sig-social-icons">
                    <a href="https://www.linkedin.com/in/gbti_network/" target="_blank" class="social-link linkedin-link">
                        <img src="assets/icons/linkedin.png" alt="LinkedIn" class="social-icon linkedin-icon">
                    </a>
                    <a href="https://x.com/gbti_network" target="_blank" class="social-link x-link">
                        <img src="assets/icons/x.png" alt="X" class="social-icon x-icon">
                    </a>
                    <a href="https://github.com/gbti_network" target="_blank" class="social-link github-link">
                        <img src="assets/icons/github.png" alt="GitHub" class="social-icon es-github-icon">
                    </a>
                    <a href="mailto:opportunities@gbti.network" class="social-link email-link">
                        <img src="assets/icons/email.png" alt="Email" class="social-icon email-icon">
                    </a>
                    <a href="https://calendly.com/gbti_network/15min" target="_blank" class="social-link calendly-link calendly">
                        <img src="assets/icons/calendly.png" alt="Calendly" class="social-icon calendly-icon">
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
