<!-- Banner-Top Signature -->
<div class="signature signature-banner-top">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td colspan="2" class="banner-header">
                <img src="assets/banner-image.png" alt="GBTI Network Banner" class="banner-img">
            </td>
        </tr>
        <tr>
            <td class="profile-cell">
                <img src="assets/logo-image.png" alt="Email Signature Generator" class="profile-img profile-image">
            </td>
            <td class="info-cell">
                <div class="info">
                    <div class="name">Email Signature Generator</div>
                    <div class="title">Success Manager</div>
                    <div class="company">
                        <img src="assets/logo-image.png" alt="GBTI Network Logo" class="company-logo">
                        <span class="company-name">GBTI Network</span>
                    </div>
                    <div class="contact">Email: <span class="email">opportunities@gbti.network</span></div>
                    <div class="contact calendly">Calendly: <a href="https://calendly.com/gbti_network/15min" target="_blank" class="calendly-link calendly-text">Schedule a 15min call</a></div>
                    <div class="sig-social-icons">
                        <a href="https://www.linkedin.com/in/gbti_network/" target="_blank">
                            <img src="assets/icons/linkedin.png" alt="LinkedIn" class="social-icon linkedin-icon">
                        </a>
                        <a href="https://x.com/gbti_network" target="_blank">
                            <img src="assets/icons/x.png" alt="X" class="social-icon x-icon">
                        </a>
                        <a href="https://github.com/gbti_network" target="_blank">
                            <img src="assets/icons/github.png" alt="GitHub" class="social-icon es-github-icon">
                        </a>
                        <a href="mailto:opportunities@gbti.network">
                            <img src="assets/icons/email.png" alt="Email" class="social-icon email-icon">
                        </a>
                        <a href="https://calendly.com/gbti_network/15min" target="_blank">
                            <img src="assets/icons/calendly.png" alt="Calendly" class="social-icon calendly-icon">
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
