<!-- Minimalist Signature -->
<div class="signature signature-minimalist">
    <div class="profile-container">
        <img src="assets/logo-image.png" alt="Email Signature Generator" class="profile-img profile-image">
        <div class="info">
            <div class="name">Email Signature Generator</div>
            <div class="title">Success Manager</div>
            <div class="company-name">GBTI Network</div>
            <div class="contact">
                <a href="mailto:opportunities@gbti.network" class="email">opportunities@gbti.network</a>
            </div>
            <div class="contact calendly">
                <a href="https://calendly.com/gbti_network/15min" target="_blank" class="calendly-link calendly-text">Schedule a 15min call</a>
            </div>
        </div>
    </div>
    <div class="sig-social-icons">
        <!-- Social icons will be dynamically inserted here -->
    </div>
</div>
